a {
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 0.5em;
  text-decoration-color: var(--highlight);
  transition: all 0.25s;
}

.active {
  text-decoration-color: var(--foreground);
}

a:hover {
  text-decoration-color: var(--foreground);
  transition: all 0.25s;
}
