<app-header></app-header>
<div class="grid grid-cols-1 md:gap-8 md:grid-cols-3 px-8 pb-8 max-w-screen-lg md:px-16 lg:m-auto">
  <div class="mt-5">
    <img src="assets/images/about/about.jpg" height="200" width="200"/>
  </div>
  <div class="col-start-2 col-end-4">
    <p class="opacity-75 font-semibold py-4">A software engineer, dive guide, and ex casino croupier</p>
    <p class="opacity-75 py-2">If I'm not racing against Food delivery guys on bikes, I may be starting a new UI Sketch which I throw away a few seconds later. Same applies to coding projects.  </p>
    <p class="opacity-75 py-2">I'll skip the basic bla bla how much I love coding and my believe in the power of human-centered design bullshit. Most of the time you're dealing anyway with pain in the ass bugs, debugging your way to headache or fixing different behaviour on all kind of platforms. Don't forget the memory leaks or the thin-skinned server configurations.</p>
    <p class="opacity-75 py-2">I decided to focus on web development because it's the place where you don't struggle constantly to override pre styled components and have a somehow acceptable coding environment. I'm too lazy to code the same thing native for iOS and Android anyway. </p>
    <p class="opacity-75 py-2">Surely you ask yourself why am I even coding. Well haven't heard from another job which pays as good, where you're not exposed to rough weather conditions and time and place don't actually matter. Your whole work is logged through Git, so no one can blame you falsely and every time you mess up you can simply revert your produced dog shit.</p>
  </div>
</div>
