<div class="grid grid-cols-1 md:grid-cols-2 px-8 py-4 max-w-screen-lg md:px-16 lg:m-auto">
  <div>
    <h1 class="mb-8 flex"><p class="font-semibold">Alpi App</p><p class="text-highlight font-semibold px-4">:</p><p class="text-highlight font-semibold">Recent Project</p></h1>
    <p class="opacity-75 mb-2">The Alpi app simplifies the process of contacting a mountain professional. The decision for a mountain professional is supported with meaningful profiles.</p>
    <p class="opacity-75 mb-2">This is achieved by displaying a profile picture and qualifications of the mountain professionals, the activities offered and their ratings, as well as the display of testimonials from other users.</p>
    <p class="opacity-75 mb-2">Secondarily, the app is also a platform for mountain professionals themselves, where they can market themselves by maintaining their profile with their own offered activities.</p>
    <p class="opacity-75">Communication among each other is supported by an integrated messaging service, which facilitates initial contact. Among other things, the view of upcoming activities helps to keep an overview.</p>
  </div>
  <div>

  </div>
</div>
